body {
    background-image: url(https://pics.filmaffinity.com/Animales_fantaasticos_y_daonde_encontrarlos-229500301-large.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0%;
    padding: 0%;
}

nav {
    background-color: white;
    height: 6vw;
}

nav a {
    color: #520044;
    font-size: 20px;
}

table {
    width: 100%;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

p {
    color: white;
}

header h2 {
    color: #520044;
}

header a {
    color: #520044;
}


.contenido-footer {
    color: rgb(255, 196, 0);
}

.final-footer {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: black;
}

.final-footer a {
    color: rgb(255, 196, 0);
}

.siguenos img {
    margin-bottom: 5px;
    width: 40px;
    height: 40px;
}

.tv{
    width: 130px;
}

.peliculas {
    width: 130px;
}

.juegos {
    width: 130px;
}

.wikis {
    width: 130px;
}

.crear-wikis {
    width: 130px;
}

.buscar {
    text-align: right;
}



#fandom {
    width: 200px;
}

#logo {
    padding-top: 30px;
    padding-right: 10px;
    width: 50px;
    height: 50px;
}

#apple {
    padding-top: 30px;
    padding-right: 10px;
    width: 150px;
    height: 50px;
}

#android {
    padding-top: 30px;
    padding-right: 10px;
    width: 150px;
    height: 50px;
}

#logo-pelicula {
    margin-top: 40px;
    margin-left: 40px;
    width: 350px;
    height: 220px;
}

#header-1 {
    text-align: left;
}

#header-2 {
    font-size: 30px;
    text-align: center;
}

#header-3 {
    font-size: 30px;
    text-align: right;
}

#seccion-principal {
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 250px;
    margin-right: 250px;
    background-color: white;
    width: 70%;
    padding-left: 90px;
    padding-right: 90px;
}

#seccion-principal article {
    text-align: right;
}

#seccion-principal h3 {
    color: black;
}

#seccion-principal h4 {
    color: black;
}

#seccion-principal a {
    color: black;
}

#seccion-principal p {
    color: black;
}

article {
    width: 20%;
}

section {
    width: 80%;
}

footer {
    background-color: #520044;
}

footer table {
    margin-left: 30px;
    margin-right: 30px;
}
.contenido-footer {
    list-style-type: none;
}